.places__paragraph {
    font-size: 1.125rem;
    line-height: 1.83375rem;
    margin: 0 0 1.625rem;
  }
  
  .places__paragraph:last-of-type {
    margin: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .places__paragraph {
      font-size: 1rem;
      margin: 0 0 1.5625rem;
      line-height: 1.63rem;
    }
  }