.header__lang-link {
    color: #fff;
    text-decoration: none;
    line-height: 1.75rem;
    font-size: 1.5rem;
    margin-right: 1.125rem;
}

.header__lang-link:nth-last-of-type(1) {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
      font-size: 1.125rem;
      line-height: 1.25rem;
      margin-top: 1rem;
    }
}