.cover__subtitle {
    font-weight: 400;
    text-align: center;
    font-style: normal;
    margin: 0;
    width: 360px;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

@media (max-width: 767px) {
    .cover__subtitle{
      font-size: 0.875rem;
      line-height: 1rem;
      max-width: 288px;
    }
  }

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 0.875rem;
        line-height: 1rem;
        padding-top: 16px;
    }
}