.header__logo {
        width: 176px;
        margin-top: 1.75rem;
        margin-right: auto;
}


@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        margin-top: 1rem;
    }
}