.place__website_url-heading {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #aaa;
    text-align: left;
    margin-top: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 1280px) {
    .place__website_url-heading {
        line-height: 20.4px;
    }
}

@media screen and (max-width: 1024px) {
    .place__website_url-heading {
        line-height: 20.4px;
    }
}

@media screen and (max-width: 768px) {
    .place__website_url-heading {
        line-height: 12px;
    }
}

@media screen and (max-width: 320px) {
    .place__website_url-heading {
        line-height: 12px;
        margin-left: 16px;
    }
}