.lead__subtitle {
    text-align: center;
    font-weight: 400;
    max-width: 640px;
    line-height: 2.25rem;
    font-size: 1.875rem;
    margin: 2rem auto 0;
}


@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        line-height: 2.25rem;
        font-size: 1.875rem;
        margin-top: 1rem;
    }
}
