.cover {
  margin: 5.75rem 0 0;
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 5.625rem;
  }  
}

@media screen and (max-width: 767) {
  .cover {
    margin-top: 4.125rem;
  }  
}