.lead__caption {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 0.5rem 0 0 0;
    }


@media screen and (max-width: 1023px) {
    .lead__caption{
        margin-left: 1.5rem;
    }
}
