.cover__title {
    max-width: 560px;
    text-align: center;
    margin: 0 0 2rem;
    font-size: 4.5rem;
    line-height: 4.75rem;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin-bottom: 0;
        max-width: 288px;
        font-size: 2rem;
        line-height: 2.1875rem;
    }
}
