.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5.875rem;
    margin-bottom: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 1.5rem;
    max-width: 1184px;
  }
  
  @media screen and (max-width: 1279) {
    .footer {
      max-width: 928px;
      margin-top: 5.75rem;
    }
  }

  
  @media screen and (max-width: 1023px) {
    .footer {
      margin-top: 5.5rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      max-width: 720px;
      margin-top: 4rem;
      padding-bottom: 0;
    }
  }