@media screen and (max-width: 1280px) {
    .footer {
        display: grid;
        width: 1184px;
        grid-template-columns: 50px 57px 94px 86px 106px 497px 186px;
        height: 18px;
        margin-left: 48px;
        padding-bottom: 24px;
        gap: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        display: grid;
        width: 928px;
        grid-template-columns: 50px 57px 94px 86px 106px 241px 186px;
        height: 18px;
        margin-left: 48px;
        padding-bottom: 24px;
        gap: 18px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        display: grid;
        width: 720px;
        grid-template-columns: 50px 57px 94px 86px 106px 33px 186px;
        height: 18px;
        margin-left: 24px;
        margin-right: 24px;
        padding-bottom: 24px;
        gap: 18px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 320px;
        display: grid;
        grid-template-columns: 186px;
        grid-template-rows: 24px 24px 24px 24px 24px 14px;
        margin-left: 6px;
        gap: 32px;
        height: 310px;
        margin-right: 0;
        padding-bottom: 24px;
    }
}