.places__wrap-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 3rem;
  }
  
  @media screen and (max-width: 767px) {
    .places__wrap-heading {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 2rem;
    }
  }