.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    margin: 5.75rem 0 0 0;
    }

@media screen and (max-width: 1023px) {
    .intro__title {
        margin-top: 5.5rem;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        margin-top: 4rem;
        font-size: 2rem;
        line-height: 2,1875rem;
    }
}